@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-body), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.font-heading {
  font-family: var(--font-heading), serif;
}

.prose a {
  text-decoration: underline;
}
